fastapi==0.115.4
uvicorn==0.32.0
websockets==14.0

langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-openai>=0.2.0
langchain-google-genai>=2.0.0
langchain-text-splitters>=0.3.0

pydantic>=2,<3
python-dotenv==1.0.1
pymongo
pinecone
pypdf

python-dotenv==1.0.1
pymongo
pinecone-client
pypdf
